*.DS\_Store
*.pyc
data/DS\_Store
data2/batch/*.csv
data2/pred/*.csv
data2/bounds/*.pkl
data2/batch/0.csv
data2/batch/1.csv
data2/batch/2.csv
data2/batch/3.csv
data2/batch/4.csv
data2/batch/5.csv
data2/batch/6.csv
data2/batch/7.csv
data2/batch/8.csv
data2/batch/9.csv
data2/bounds/0.pkl
data2/bounds/1.pkl
data2/bounds/2.pkl
data2/bounds/3.pkl
data2/bounds/4.pkl
data2/bounds/5.pkl
data2/bounds/6.pkl
data2/bounds/7.pkl
data2/bounds/8.pkl
data2/bounds/9.pkl
data2/pred/0.csv
data2/pred/1.csv
data2/pred/2.csv
data2/pred/3.csv
data2/pred/4.csv
data2/pred/5.csv
data2/pred/6.csv
data2/pred/7.csv
data2/pred/8.csv
data2/pred/9.csv
